body {font-size: 25px; font-family:arial; }

textarea {border-style: none; background: #cacaca;
color: #6d6d6d; resize: none;width: 290px; }

input, button {border-style: none; background:
#cacaca; height: 25px;}

form {margin: 0 auto; text-align: right; width:
530px; border: 2px solid grey; padding: 10px; }

select {border-style: none; background: #cacaca;
width: 290px; }

form br {clear:both; margin-bottom: 20px; }

#m, #w {padding-left: 108px; padding-right: 7px; }

.radio, .check, label {float: left;}
#dont {margin-right: 9px;}

.hobby {padding-left: 21px; padding-right: 4px; }